[submodule "terark-zip-rocksdb"]
	path = terark-zip-rocksdb
	url = https://github.com/Terark/terark-zip-rocksdb.git
[submodule "terark-rocksdb"]
	path = rocksdb
	url = https://github.com/Terark/rocksdb.git
