[submodule "terark-zip-rocksdb"]
	path = terark-zip-rocksdb
	url = git@github.com:Terark/terark-zip-rocksdb.git
[submodule "terark-rocksdb"]
	path = terark-rocksdb
	url = git@github.com:Terark/rocksdb.git
